<%- include('partials/header.ejs') %>


<div class="box" style="border-color: #ff2626; background-color: #ffa1a1;"> <h2>Sorry :(</h2><br /><h4><%= error_desc %></h4></div>



<%- include('partials/footer.ejs') %>
